body{
	width: 100%;
	margin: 0;
	padding: 0;
	background-color:#f6f6f6 !important;
	font-family: "微软雅黑";
}
ul,dd,dt,h3,p{
	list-style-type: none;
	margin: 0;
	padding: 0;
}
a{
	text-decoration: none;
}
.logo{	
	width: 100%;
	height: 70px;
	background: #19262f	;
	text-align: center;
}
.logo img{
	width: 35%;
	margin-top:15px;
}
.banner{
	width: 100%;
	height: 188px;
	background: url(../img/i_top.jpg);
	background-repeat: no-repeat;
	position: relative;
}
.banner  .img1{
	margin-left: 20px;
	margin-top: 20px;
}
.banner  .img2{
	float: right;
	margin-right: 20px;
	margin-top: 20px;
}
.zhuti{
	width: 100%;
	margin-top: 20px;
	overflow: hidden;
}

.zhuti ul{
	margin-top:30px;
	width: 100%;
}
.zhuti li{
	float: left;
	margin-left: 20px;
}
.zhuti li img{
	margin-top: 10px;
}
.zhuti li a:after{
	display: block;
	content:attr(title);
}
.zhuti li a{
	color: black;
	font-size: 14px;
	text-align: center;
}
.zhuti li a:hover{
	color: peru;
}
.concent{
	width: 100%;
	margin-top: 20px;
	height:970px;
	overflow: hidden;
}
.block{
	width:90%;
	height: 290px;
	margin: 0 auto;
	border: 1px solid #c9c9c9;
	margin-top: 20px;
}
.block h3{
	padding-top: 5px;
	font-size: 16px;
	margin-left: 20px;
}
.block h3 a{
	color: #333;
	font-weight: normal;
	
}
.block p{
	width: 90%;
	height:30px;
	color: #666;
	font-size: 14px;
	margin-left: 20px;
	padding-top: 3px;
	border-bottom:1px dotted #b49e86 ;
}
.tag{
	width: 100%;
}
.xiao,.xiao1{
	height: 25px;
	float: left;
	border: 1px solid black;
	border-radius: 5px 5px 5px ;
	margin-top: 10px;
	margin-left: 20px;
}
.xiao1{
	float: right;
	margin-right: 20px;	
}
.xiao a,.xiao1 a{
     height: 25px;
     line-height: 25px;
	 font-size:16px;
     color:#282828;
}
.xiao a:hover,.xiao1 a:hover{
	color:orange;
}
.img3{	
	height: 40px;
	margin-left: 40%;
}
.geng h4{
	display:block;
	width: 80px;
	height: 25px;
	background: #19262f;
	border:1px solid #19262f ;
	border-radius: 7px 7px 7px;
	font-weight: normal;
	line-height: 25px;
	text-align: center;
	margin-left: 33%;
	margin-top: 5px;
}
.geng h4 a{
	color: white;
}
.icomp{
	width: 100%;
	height: 320px;
	background: #b49e86;
	margin-top: 20px;
}
.icomp img{
	width: 100%;
}
.foot{
	width: 100%;
	height: 350px;
	background: #19262f;
	margin-top: -20px;
}
.foot h2{
	padding-top: 50px;
	width: 40%;
	height: 50px;
	color: white;
	font-weight: normal;
	font-size: 18px;
	margin-left: 15px;
	border-bottom: 1px solid white;
}
.foot img{
	float: left;
	margin-left: 20px;
}
/*左边划栏特效*/
.ileft{ 
	position:fixed; 
	left:0; 
	top:560px; 
	z-index:900; 
	cursor:pointer; 
}
.ileft img{
	 width:40%;
}
.ileftcon{ 
	position:fixed; 
	left:-100%; 
	top:580px; 
	height:60px;  
	background-color:#19262f;
	width:100%;
	z-index:800;
 }
.ilg,.ilg1{
	display:block;
	height:30px;
	line-height:30px;
	background-color:#ff5469;
	border-radius:5px; 
	color:#fff; 
	font-size:20px; 
	text-align:center; 
	margin-top:10px;
}
.ilg1{
	margin-top: 0 !important;
}
.pdlnone{
	float: left; 
	width: 49%;
	height: 30px; 
	padding-left:0 !important; 
}
.pdlnone1{ 
	float:right; 
	width: 49%; 
	height: 30px !important;
	padding-right:0 !important; 
	background-color:#ff5469;
	border-radius:5px;
	overflow: hidden;
	margin-top: 10px; 
}